<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Centro de notificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ab
      necessitatibus cum est ea et quam consequuntur impedit accusamus
      perferendis, distinctio corporis architecto! Reiciendis facere
      perspiciatis et quibusdam temporibus sapiente.
    </ion-card-content>
  </ion-card>

  <ion-button (click)="notificationSchedule()" expand="block" shape="round">
    Notificacion local simple
  </ion-button>

</ion-content>
